* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 150vmax;
}

.weatherbox {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: linear-gradient(103.74deg, #a72baa 35.42%, #4800e1 98.49%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.weatherbox-small {
  width: 600px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
  background: linear-gradient(103.74deg, #a72baa 35.42%, #4800e1 98.49%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  display: flex;
  align-items: center;
}

.dataContainer {
  display: flex;
  width: 600px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.dataContainerSmall {
  display: flex;
  width: 280px;
}

h2 {
  padding: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
}

h3 {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon2 {
  width: 30px;
  height: 30px;
  margin-top: 11px;
}

.multi-button {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}
.nav-button {
  height: 40px;
  width: 200px;
  background: linear-gradient(to bottom, #a72baa, #4800e1);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  stroke: black;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}
.multi-button :nth-child(1) {
  border-radius: 10px 0 0 10px;
  margin-left: auto;
}
.multi-button :nth-child(3) {
  border-radius: 0 10px 10px 0;
  margin-right: auto;
}
.nav-button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
.nav-button:active {
  filter: none;
  transform: scale(0.95);
}

.upper-nav-button {
  border-radius: 10px;
  height: 40px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-color: #4800e1;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px;
  text-align: center;
  color: #a72baa;
  filter: none;
  background-color: #ffffff56;
}

.upper-nav-button:hover {
  cursor: pointer;
  background: linear-gradient(103.74deg, #a72baa 35.42%, #4800e1 98.49%);
  color: #ffffff;
}

.upper-nav-button:active {
  filter: none;
}
