* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.weatherbox {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: linear-gradient(103.74deg, #a72baa 35.42%, #4800e1 98.49%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.weatherbox-small {
  width: 600px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
  background: linear-gradient(103.74deg, #a72baa 35.42%, #4800e1 98.49%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  display: flex;
  align-items: center;
}

.text1 {
  padding: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  color: #ffffff;
}

.text2 {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #ffffff;
}

.icon {
  width: 50px;
  height: 50px;
}

.multi-button {
  /* filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45)); */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}
.nav-button {
  height: 40px;
  width: 200px;
  background: linear-gradient(to bottom, #a72baa, #4800e1);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  stroke: black;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}
.multi-button :nth-child(1) {
  border-radius: 10px 0 0 10px;
  margin-left: auto;
}
.multi-button :nth-child(3) {
  border-radius: 0 10px 10px 0;
  margin-right: auto;
}
.nav-button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
.nav-button:active {
  filter: none;
  transform: scale(0.95);
}
